{% extends 'procura_static_pages/procura_base_template.html' %}

{% block header %}

    <h2 id="center">Welcome to Procura Application!</h2>

{% endblock %}

{% block content %}


    <p>
        Glad to see you in the Procura Application!<br>
        This application is designed to ease your work related to procurement processes. Please, use the navigation
        bar for work:<br>
    </p>
    <p>
    <li>Contracts menu to handle the contracts info</li>
    <li>Providers menu to handle the providers info</li>
    <li>Items nomenclature menu to handle the items nomenclature</li>
    </p>

{% endblock %}