{% extends 'base_template.html' %}

{% block header %}

    <h2 id="center">Providers list </h2>

{% endblock %}

{% block content %}

    <p><a href="{% url 'almacen:new-provider' %}">Add new</a></p>

    {% if provider_list %}

        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>RIF</th>
                <th>Phone</th>
                <th>Contract No.</th>
            </tr>

            {% for provider in provider_list %}

                <tr>
                    <td>
                        <a href="{% url 'almacen:provider-detail' provider.pk %}"> {{ provider.name }} </a>
                    </td>
                    <td>{{ provider.rif }}</td>
                    <td>{{ provider.phone_num }}</td>
                    <td>
                        <a href="{% url 'almacen:contract-detail' provider.contract.pk %}"> {{ provider.contract.number }} </a>
                    </td>
                </tr>

            {% endfor %}
        </table>
        {% if is_paginated %}

            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"><--</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">--></a>
                    {% endif %}
                </span>
            </div>

        {% endif %}

    {% endif %}

{% endblock %}